@{
    Layout = null;
}


<div class="main_block">
    <form class="form" method="post" action="Home/GetFilePost">
        <button class="button" name="button" value="true" onclick="">Скачать описание урока</button>
    </form>
</div>
